In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [22]:
intermediate_df1 = movies['title'].str.split("(", expand=True)

In [25]:
intermediate_df2 = intermediate_df1[1].str.split(")", expand=True)

In [30]:
intermediate_df2[0]
for year in intermediate_df2[0]:
    print(year)

AttributeError: 'str' object has no attribute 'dtype'